h2 {
  color: #F30570;
  text-align: center;
  letter-spacing: 1px;
}
h5 {
  text-align: center;
   letter-spacing: .5px;
}
body {
  background-color: aliceblue;
}
img {
  width: 500px;
  
    
}
img:hover {
  border: dashed blue 3px;
    border-radius: 50%;
}
  nav {
    list-stle-type: none;
    background-color: white;
    top:0;
    left:0;
  }
  a {
    color: white;
    text-decoration: none;
  }
li{
    display: inline;
    padding: 10px;
  
    
  }
  
}
